<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <style>
       .navbar {
	width: 100%;
	height: 70px;
	background-color: #3bb19b;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}
    </style>
</head>
<body>
    <div class="main_container">
        <nav class="navbar">
            <h1>fakebook</h1>
            <button class="white_btn" onclick="handleLogout()">Logout</button>
        </nav>
    </div>

	<div>
		<p>
			new Project
		</p>
		<h1> yes new project </h1>
		<div id="google_translate_element"></div>
	</div>
  
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
     
	<script> 
	function handleLogout() {
            localStorage.removeItem("token");
            window.location.href = '/login';
        }

	function googleTranslateElementInit()
	{
		new google.translate.TranslateElement (
			{pageLanguage:'en'},
			'google_translate_element'
	);
	}




    </script>
	<p>Kindly support to my channel</p>
</body>
</html>
